html,body{
  overflow-x: hidden;
}

.xl-text {
  font-size: 75px;
}

.header-text {
  font-size: 20px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
    
  }
}

.btn-secondary {
  &:hover {
    transform: scale(1.1); 
    background-color: #8c37c8;
  }
}

.header .btn-secondary {
  font-weight: normal;
}

.header .btn-secondary {
  &:hover {
    transform: none;
  }
}

.header .decoration-leaves {
  top: 80px;
  left: -100px;
  width: 450px;
  opacity: 0.2;
  transform: scaleX(-1);
}

.header .decoration-leaves-2 {
  top: 80px;
  right: -100px;
  width: 450px;
  opacity: 0.2;
}

.navbar {
 transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details .decoration-leaves {
  // top: 80px;
  left: -100px;
  width: 600px;
  opacity: 0.2;
  transform: scaleX(-1);
}

.details-2 .decoration-leaves {
  // top: 80px;
  right: -100px;
  width: 450px;
  opacity: 0.2;
}

.contact .decoration-leaves {
  left: -100px;
  width: 600px;
  opacity: 0.2;
  transform: scaleX(-1);
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.to-top-btn {
  &:hover {
    background-color: #1d1d21;
  }
}

.to-top-btn {
  img {
    margin-bottom: 0.25rem;
    width: 18px;
  }
}

.show {
  opacity: 1;
}

@media(max-width: 992px) {
 .xl-text {
  font-size: 50px;      
 }
 
 .navbar {
  .btn-outline-secondary {
    margin-top: 20px;
  }
 }

 .header {
  margin-top: 0px !important;
  text-align: center;
 }

 .header .garden-water {
  left: -100px;
  width: 250px;
}

.header .garden-water-2 {
  right: -100px;
  width: 250px;
}

.header .image-container {
  margin-top: 30px;
}

.services .col-md-4 {
  border-bottom: 1px #ccc solid;
  margin: 10px 0;
}

#details, #services, #projects, #contact {
  padding-top: 6rem !important;
  margin-top: 3rem !important;
}

.details-2 {
  margin-top: 20px !important;
}

.details-2 .decoration-leaves {
  top: 300px;
}
}

@media(max-width: 576px) {
  .details .decoration-leaves {
    width: 300px;
  }

}